/* Importar la fuente Raleway Dots */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Raleway:wght@100&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

.titulo {
  color: white;
  text-align: center; /* Centrar el texto horizontalmente */
  display: flex;
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: center;
  height: 100%; /* O ajusta la altura según tus necesidades */
  font-family: "Raleway", sans-serif; /* Aplicar la fuente */
  font-weight: bold;
  letter-spacing: 10px; /* Ajusta el valor según el espaciado deseado */
  padding: 80px 0; /* Agregar espaciado superior e inferior de 20px */
}

.container-fluid {
  background-color: black;
  max-width: 1000px;
  overflow: hidden;
  display: flex; /* Cambiamos a un diseño de flexbox */
  flex-wrap: wrap; /* Las imágenes se envuelven en múltiples líneas */
  justify-content: space-between; /* Espaciado uniforme entre las imágenes */
  padding: 20px; /* Agregamos margen interno de 10 px */
  box-sizing: border-box; /* Incluimos el padding en el ancho total del contenedor */
}

.gallery-item {
  position: relative;
  flex-basis: calc(33.33% - 20px); /* Ancho de 33.33% menos el margen */
  margin: 10px;
  box-sizing: border-box; /* Incluimos el padding en el ancho total del elemento */
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  background-color: black;

  background-color: transparent; /* Fondo ligeramente más claro */
  position: relative;
}

.video-thumbnail img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el modal */
.ReactModal__Overlay {
  transition: opacity 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;

  border: none;
  background: transparent;
  padding: 0;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  animation: openModal 500ms ease-in-out;
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px; /* Bordes más suaves */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

@keyframes openModal {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.ReactModal__Content--after-open {
  transform: scale(1);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: scale(0.95); /* Transición más suave al cerrar */
  opacity: 0;
}

.lightbox-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.lightbox-content img,
.lightbox-content .react-player {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

.visible {
  display: block !important;
}

.prev-button,
.next-button,
.close-button {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%; /* Botones redondeados */
  transition: background-color 0.3s ease; /* Transición de color al pasar el cursor */
}

.prev-button:hover,
.next-button:hover,
.close-button:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Color más oscuro al pasar el cursor */
}

.prev-button {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.close-button {
  top: 20px;
  right: 20px;
  font-size: 12px;
  display: none;
}

/* GalleryApp.css */

.custom-row-spacing {
  margin-bottom: 100px; /* Ajusta este valor según tus necesidades */
}
