@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: wheat;
}

/* Aplica estilos globales */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}
